<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jai kumar portfolio</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div>
    <nav> 
      <h1><p>Jai kumar <br>Front-end developer..</p></h1>
      
      <img src="\assets\Screenshot_20240516-121137.png">
      <a href="#location"> Location</a>
      <a href="#contact">Contact </a>  
      <a href="#about">About me</a>
      <a href="#project">Projects</a> 
    </nav>
  </div>
 
  <div class="project" id="project">
    <div>
        <h1>Projects</h1>
    </div>
    <div class="foodorder">
      <div>
        
      <p>
        I am done a Online Food order website.Online Food Ordering System is proposed for simplifies the food ordering process. This System shows an user interface and update the menu with all available options so that it eases the customer work. Customer can choose more than one item to make an order and can view Order details before logging off.
       
      </p>
    </div>
    <div>
      <img src="..\assets\foodies.png">
    </div>
    </div>
    <div class="ecommerce">
      <img src="..\assets\ecommerce.jpg">
      <p>
        I am done the e-commerce project for users order the sports products online. And I developed sports based e-commerce website and it is a user-friendly online platform allowing customers to register, browse 
        products, add items to their cart, securely process payments, and manage orders. 
      The purpose of an this e-commerce website is to create a digital marketplace where businesses can connect with consumers, facilitate transactions, and provide a seamless and convenient online shopping experience
      </p>

    </div>
    <div class="weather">
      <p>
        In this weather report project, I am done a responsive design and easy User-Interface design. 
        A typical weather report tells you the high and low temperatures for the past day. It also tells you the present temperature. It might tell you the average temperature for the day, which lies halfway between the highest temperature and the lowest temperature.
       
      </p>
      <img src="..\assets\weather.jpg">
    </div>

  </div>

  <div class="about"   id="about">
    <h1>About Me</h1>
     <!-- <img src="../assets/angularabout.png"> -->
     <p>
      Hi, I am Jaikumar Radhakrishnan Front-end developer and Web designer, I started 
      my journey with Front-end developer in 2023. At earlier the same year. I complete my Front-end 
      developer professional course in Besant technologies Learning center velachery chennai. After finishing 
      a course with a great practice and I start my Freelancing career on <b>jaikumar.com </b>and I successfully run my Freelancing job. 
   <!-- <span id="dots">...</span><span id="more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid recusandae eius minima tempora quo atque, accusamus asperiores, neque dolore nam rem et odio. Culpa aliquam voluptatum, recusandae rerum iusto deserunt?</span><button onclick="readmore()" id="btn">Readmore... </button>  -->
     </p>
  </div> 
  
  <div class="contacthead">
  <h1>Contact</h1> 
</div> 

  <div class="contactmain">
   
  <div class="contact" id="contact">
     <h2> Drop me a message </h2>
    <ul>
      <li> <i class="fa fa-envelope"></i>          <a href="">jaieeeeng@gmail.com</a></li>
      <li> <i class="fa fa-phone" id="phone"></i>  <a href=""> +91 6369659262</a> </li>
    </ul>
  </div>

  <div class="contact1" > 
    <h2>Details about you </h2>
    <div class="userinfo">
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter your name">
    <label>Email Id</label>
    <input type="text" name="email" placeholder="Enter your email">
    <label>Phone No</label>
    <input type="text" name="number" placeholder="Enter your number">
    <button>Submit</button>
    
  </div>
  </div>
    
</div>
  <div class="location" id="location">
    <h1>Location</h1>
   
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3907.6440623900544!2d79.69769067370918!3d11.648692742502163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a54bd8c3735b873%3A0xa24fef9eca21b4fb!2sChinnakattusagai!5e0!3m2!1sen!2sin!4v1722781176185!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
  </div>
  <div class="copy">
    <h2>Copy right</h2>
    <div class="copy1">
    <i>&#169;</i>
    <p><b>Jaikumar</b> Front-end developer, All rights reserved.</p>
  </div>
  </div>
  </div>  
  